@{
    ViewData["Title"] = "Home Page11";
}

<div class="position-absolute top-50 start-50 translate-middle">
    <div class="alert alert-warning gap-2 col-8 mx-auto" role="alert">
        <p class="fs-2 fw-bolder text-center">WELCOME</p>
    </div>

         <div class="d-grid gap-2 col-6 mx-auto">
             <a asp-controller="Home" asp-action="SessionPage" class="btn btn-success">START A NEW SESSION</a>
             <button class="btn btn-info" type="button">GET LATEST RESULTS</button>
             <button class="btn btn-danger" type="button">CHECK RECENT ERRORS</button>
         </div>

    <div class="alert alert-success gap-2 col-8 mx-auto" role="alert" style="margin:20px">
        <h4 class="alert-heading">GUIDE</h4>
        <p>You can start a new session by clicking the "START" button or you can check your results. Moreover you can and you should practice your recent mistakes in order to improve your language.</p>
        <hr>
        <p class="mb-0">Please send e-mail to "ogunbilgili@gmail.com" to suggest ideas or report an issue.</p>
    </div>
</div>